


h4{
    color: crimson;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
}
#vd{
    overflow-x: hidden;
    margin-left: 70px;

}
ul{
    list-style-type: none;
    margin-top: 50px;
    display: flex;
    /* background: url('images/Food/gallery.jpg') no-repeat;
    background-size: cover;
    height: 50%; */

}
li{
    padding: 20px;
    display: flex;
}
li a{
    text-decoration: none;
    color:darkorange;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 20px;
}
li a:hover{
    background-color: darkcyan;
    color: darkgreen;
    border-radius: 15px;
}
#gallery{
    background-color: chartreuse;
    color: coral;
    border-radius: 15px;

}
#about {
    background-color: #5daa14;
    color: tomato;
}
a:hover:not(.active){
    background-color: darkslategray;
    color: bisque;
}
.socialmedia{
    margin-left: 650px; 
    font-size: 20px;
    color: rgb(63, 9, 54);
    margin-top: 30px;
} 
/* div.socialmedia p{
    margin-bottom: -30px;
} */

footer{
    margin-top: 30px;
    background-color: rgb(164, 214, 106);
    color: black;
    text-align: center;
    width: 100%;
    font-weight: bold;
}  